@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

.roboto-100 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

label{
	display:inline-block;
	width: 120px;
}

table, th, td{
	border: 1px black solid;
	border-collapse: collapse;
}
